
    
    <div class="container-fluid title-home shadow-lg">
        <div class="container p-5 text-white">
            <h1 class="display-1 animated fadeIn fast" style="font-size:6em;">Comic App</h1>
            <p class="align-bottom animated fadeIn text-secondary" style="font-size: 1.5em;">Esta es una aplicación de comics, construída en Angular 10 </p>
        </div>
    </div>

    <div class="container-fluid my-3 p-0">
        <div class="col p-0">
            <iframe width="100%" height="415" src="https://www.youtube.com/embed/QwievZ1Tx-8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>